<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>

    <h1 class="d-flex justify-content-center" th:text="${customer.getContactFirstName()}" />
    <hr>
    <div class="d-flex justify-content-evenly">
        <div class="fw-bold">ID</div>
        <div class="fw-bold">contactFullName</div>
        <div class="fw-bold">country</div>
        <div class="fw-bold">phone</div>

        <div class="fw-bold">AddressLine</div>


    </div>
    <div class="d-flex justify-content-evenly">

    <div th:text="${customer.getId()}" />
    <div th:text="${customer.getContactFirstName() + ' '+customer.getContactLastName()}" />
    <div th:text="${customer.getCountry()}" />
    <div th:text="${customer.getPhone()}" />
    <div th:text="${customer.getAddressLine1()}" />


    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
        <a th:href="@{'/customers/customer-update-form'(Id=${customer.id})}"><button>Update</button></a>
        <a href=""><button>Delete</button></a>
        <a href="/customers/all" ><button>BACK</button></a>

    </div>


</body>
</html>